$color-black: #000000;
$color-transparent: transparent;
$color-dark: #2a2e43;
$color-dark-two: #1b1e2c;
$color-white: #ffffff;
$color-dull-orange: #030303;
$color-azure: #00a1ee;
$color-darkslate-blue: #253d5f;
$color-warm-grey: #707070;
$color-dirty-white: #ededed;
$color-brownish-grey: #5d5d5d;
