.btn {
    font-family: $font-family-sans-serif;
    cursor: pointer;

    &--dull-orange {
        background-color: $color-dull-orange;
        color: $color-white
    }

    &--close {
        background-color: $color-azure;
        position: fixed;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i {
            font-size: 17px;

            @include media-breakpoint-up(md) {
                font-size: getFs(30)
            }
        }

        span {
            display: block;
            font-family: $font-family-sans-serif;
            font-size: 6px;

            @include media-breakpoint-up(md) {
                font-size: getFs(8);
            }
        }

        @include media-breakpoint-up(md) {
            top: getFs(37);
            right: getFs(49);
        }
    }
}